.font-usage{
    font-family: 'Roboto', sans-serif;
}

.active-fill:active{
    background-color: rgba(209, 213, 219, 1);
}

.active-fill-blue{
    background-color: #4EBEDF;
}

.active-fill-blue:active{
    background-color: #369dbd;
}

.rounded-huge{
    border-top-left-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
}

.qty-input{
    max-width: 2.25rem;
}

#check-svg{
    transform: translateY(2px);
}

.non-clicked-add-btn:active{
    background-color: rgba(31, 41, 55, 1);
}

#intro-txt{
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    transform: translate(-50%, -50%);
    opacity: 1;
}

#place-button{
    border-color: rgba(249, 250, 251, 1);
}

.h-1px{
    height: 1px;
}

#ar-icon{
    transform: translateY(2px);
}

#similar-products{
    background: inherit;
}

#similar-products::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        filter: blur(10px);
        background: inherit;    
}